@import "../../styles/globalStyles.scss";

.home {
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


    .main {
        display: flex;
        // width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // text-align: left;
        
        &__content {
            display: flex;
            flex-wrap: wrap;
            width: 30%;
            h1 {
                position: relative;
                width: 100%;
                font-size: 80px;
                text-align: left;

                font-weight: bold;
                letter-spacing: 15px;
                color: $grey-medium;
                -webkit-box-reflect: below -25px linear-gradient(transparent, #0004);
                animation: animate 5s linear infinite;
            }
            @keyframes animate 
            {
                0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
                {
                    color: $grey-medium;
                    text-shadow: none;
                }
                18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
                {
                    color: #fff;
                    text-shadow: 0 0 10px #03bcf4,
                    0 0 20px #03bcf4,
                    0 0 40px #03bcf4,
                    0 0 80px #03bcf4,
                    0 0 160px #03bcf4;
                }
            }
            
            .description {
                display: flex;
                text-align: left;
                color: $grey-medium;
                // margin-left: 40%;
                // max-width: 40%;
            }
        }
        
    }
}