.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    // opacity: 0.2;
    justify-content: space-between;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    // border-bottom: 1px solid;

    &__links, &__logo {
        display: flex;
        
        a {
            color: white;
            opacity: 1;
            text-decoration: none;
            padding: 5px;
        }
    }
}